body {
    height: 150vh; 
    background: linear-gradient(to bottom,white, #027373, white);
}
/* contact modal */
#foot {
    display: flex;
    bottom: 0;
    right: 0;
    justify-content: space-around;
    width: 100%;
    /* background-color: linear-gradient(to bottom, black, #027373, black); */
}

#openModal:hover{
    text-decoration:overline;
    color: #027373;
    transition: .4s;
}
#modal {
    background-color: rgba(0,0,0,0.5);
    display: none;
    position: fixed;
    bottom: 0;
    right:0;
    height: 100%;
    width:100%;
    z-index: 1;
    overflow: auto;
}
#modal-textbox {
    background: #c3faec;
    height: 350px;
    width: 550px;
    border-radius: 2px;
    margin: 150px auto;
    padding: 2%;
    line-height:120%;
    box-shadow: 0 2px 2px #F2E7DC;
}
#close{
   display: flex;
   justify-content: end;

}
#close:hover {
    background-color: #027373;
    background: fixed;
    transition: .7s;
    color: white;
}
.con {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: black;
    width: fit-content;
    height: 30px;
    margin: 0;
    padding: ;
}
.con:hover{
    color: #027373; 
}
/* Feedback Modal */
#openModal2:hover{
    text-decoration:overline;
    color: #027373;
    transition: .4s;
}
#modal2 {
    background-color: rgba(0,0,0,0.5);
    display: none;
    position: fixed;
    bottom: 0;
    right:0;
    height: 100%;
    width:100%;
    z-index: 1;
    overflow: auto;
}
#modal-textbox2 {
    background: #c3faec;
    height: 350px;
    width: 500px;
    border-radius: 2px;
    margin: 150px auto;
    padding: 2%;
    line-height:120%;
    box-shadow: 0 2px 2px #F2E7DC;
}
/* #foot2 {
display: flex;
justify-content: end;
flex-direction: row;
} */
#close2 {
    display: flex;
    justify-content: end;
}
#close2:hover {
    transition: .7s;
    color: #027373;
}
/*  */
#input1 {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    padding: auto;
    justify-content: space-evenly;
}

.feed {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100px;
    margin: 0;
    padding: 0;
}