/* Google font link 'roboto mono' */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;600&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: #0D0D0D;
}

html {
    scroll-behavior: smooth;
}

a, h4 {
    font-family: 'Roboto Mono', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #F2F2F2;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
}
/* My name in the left corner */
.logo {
    cursor: pointer;
    margin-right: auto;
}
.logo:hover {
    color: #FA8113;
    transition: all .8s ease 0s;
}
/* keeping the nav list on the right */
.nav_links {
    list-style: none;
}
.nav_links li {
    display: inline-block;
    padding: 0px 20px;
    transition: all 0.3s ease 0s;
}
.nav_links li :hover {
    color: #8C8C8C;
    text-decoration: underline overline;
    transition: all .8s ease 0s;
}

/* IMAGE CAROUSEL */
.container {
    display: flex;
    flex-direction: row;
    align-items:flex;
    margin-top: 10%;
    justify-content: space-evenly;

    flex-wrap: wrap;
}
.img_container{
    width: 70%;
    display: flex;
    justify-content: space-around;
}
.imgs {
    width: 80%;
    padding: 10px;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 2px 2px #8C8C8C;
}
.imgs img {
    width: 100%;
    border-radius: 10px;
    display: none;
}
.btn {
    display: flex;
    margin-left: 30%;
}
.-btn {
	align-self: center;
	color: #888;
	padding: 10px;
	border-radius: 50%;
	text-align: center;
}
.-btn :hover {
    cursor: pointer;
	color: white;
}

.imgs img:first-of-type {
    display: block;
}
.statement {
    display: flex;
    flex-direction:column;
    color: white;
    align-items: center;
    margin-left: 20%;
    margin-right: 20%;
}